<mat-toolbar color="blue">
    <mat-toolbar-row>
        <span>Apppointments</span>
        <span class="example-spacer"></span>
        <button pButton type="button" label="Search" icon="pi pi-search" iconPos="right"
            class="p-button-text p-button-text"></button>
        <button pButton type="button" class="p-button-rounded" icon="pi pi-plus" (click)="openAddForm()"></button>
    </mat-toolbar-row>
</mat-toolbar>


<div>
    <p-table class="table" [value]="Appointments" [paginator]="true" [rows]="5">
        <thead class="table-dark">
            <ng-template pTemplate="header">
                <tr>
                    <th>Patient</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Condition</th>
                    <th>Operations</th>
                </tr>
            </ng-template>
        </thead>
        <ng-template pTemplate="body" let-App>
            <tr>
                <td>{{App._id}}</td>
                <td>{{App}}</td>
                <td>{{App.date}}</td>
                <td>{{App.time}}</td>
                <td>{{App.doctor}}</td>
                <td>{{App.condition}}</td>
                <td>
                    <span class="p-buttonset">
                        <button pButton type="button" label="Edit" class="p-button-raised p-button-rounded"></button>
                        <button pButton type="button" icon="pi pi-trash"
                            class="p-button-raised p-button-rounded"></button>

                    </span>

                </td>
            </tr>
        </ng-template>
    </p-table>
</div>