<!--<div class="container-fluid g-0">-->
<!--    <div class="row w-100 g-0">-->
<!--        <app-navbar class="col-2 bg-light"></app-navbar>-->
<!--        <div class="col-10 row flex-column g-0 pos">-->
<!--            &lt;!&ndash; <app-header class="bg-light"></app-header> &ndash;&gt;-->
<!--            <router-outlet></router-outlet>-->
<!--             <a class="btn btn-success mx-5 my-1" routerLink="/patient">patient </a> -->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<app-navbar></app-navbar>
<!-- main app container -->
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

