<h1 mat-dialog-title>Add appointment</h1>

<h2>Date</h2>
<div class="input-group mb-3">
    <input type="date" [(ngModel)]="nappointment.date" class="form-control" aria-label="Date"
        aria-describedby="basic-addon1">
</div>

<h2>Time</h2>
<div class="input-group mb-3">
    <input type="time" class="form-control" [(ngModel)]="nappointment.time" aria-label="Time"
        aria-describedby="basic-addon2">
</div>

<h2> Doctor </h2>
<div class="input-group mb-3">
    <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="nappointment.doctor" name="doctor">
            <mat-option *ngFor="let doc of Doctors" [value]="doc._id">
                {{doc.first_name + " " + doc.last_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<h2> Patient </h2>
<div class="input-group mb-3">
    <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="nappointment.patient" name="patient">
            <mat-option *ngFor="let p of Patients" [value]="p._id">
                {{p.first_name + " " + p.last_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<div class="input-group">
    <span class="input-group-text">Condition</span>
    <textarea class="form-control" [(ngModel)]="nappointment.condition" aria-label="With textarea"></textarea>
</div>

<button type="submit" class="btn btn-primary" (click)="save()">Add</button>