.row.flex-nowrap.align-items-center.mb-4.mx-2 {
  --bs-gutter-x: 0;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
}

div.fileinputs {
  position: relative;
}

div.fakefile {
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: 1;
  width: 180px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: all 0.3s;
}

div.fakefile:hover, input.file:hover, input[type="file"]:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
}

input[type="file"] {
  width: 180px;
}

input.file {
  position: relative;
  text-align: right;
  opacity: 0;
  z-index: 2;
}

.bg-inp {
  background-color: var(--grey);
  border-color: var(--grey);
}

.bg-inp:focus {
  background-color: white;
  border: 1px solid var(--primary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

label, h4 {
  color: rgba(0, 0, 0, 0.7);
}

#dropdown {
  background-color: white;
  border: 1px solid var(--primary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.bg-light {
  background-color: var(--lightGrey) !important;
}

.mainDiv {
  width: 500px;
}

.btn-info {
  background-color: #b7ce63;
  border: none;
}

.btn-info:hover {
  background-color: #a1b361;
}

span {
  display: inline-block;
}

label, h4 {
  opacity: 0.9;
}

.bg-inp:hover {
  border-color: var(--grey);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 10px;
}
