<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 my-4">
      <div class="card h-100">
        <h4 class="card-header">Patient Gender Report</h4>
        <div class="card-body">
          <app-patient-report></app-patient-report>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 my-4">
      <div class="card h-100">
        <h4 class="card-header">Income Per Month</h4>
        <div class="card-body">
          <app-income-per-month></app-income-per-month>
        </div>
      </div>
    </div>
  </div>
</div>
