<div class="container">
  <div class="row">
    <div class="col-12 col-lg-5 col-md-6 my-4">
      <div class="card h-100">
        <h4 class="card-header">Patient Gender Report</h4>
        <div class="card-body">
          <app-patient-report></app-patient-report>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-7 col-md-6 my-4">
      <div class="card h-100">
        <h4 class="card-header">Income Per Month</h4>
        <div class="card-body">
          <app-income-per-month></app-income-per-month>
        </div>
      </div>
    </div>


     <div class="col-12 col-lg-7 col-md-6 my-4">
      <div class="card h-100">
        <h4 class="card-header">Invoices Report</h4>
        <div class="card-body">
          <app-report-invoices></app-report-invoices>
        </div>
      </div>
    </div> 


  </div>
</div>
