<div id="myModal">

    <form id="form" autocomplete="off" enctype="multipart/form-data" [formGroup]="form" novalidate>

        <div class="field">
            <label for="date">date</label>
            <p-calendar type="date" [(ngModel)]="prescription.date" formControlName="date" id="date" ></p-calendar>
            <!-- <small class="p-error" *ngIf="submitted && !prescription.date">Date is required.</small> -->
        </div>
        <div class="field">
            <label for="doctor">doctor</label>
            <p-dropdown [options]="doctors" [(ngModel)]="prescription.doctor" formControlName="doctor" placeholder="Select a Doctor" optionValue="_id"
                optionLabel="_id.firstName" >
            </p-dropdown>
            <!-- <small class="p-error" *ngIf="submitted && !prescription.doctor">Doctor is required.</small> -->
        </div>
        <div class="field">
            <label for="pa">Patient </label>
            <p-dropdown [options]="patients" [(ngModel)]="prescription.patient"  formControlName="patient" placeholder="Select a Patient" optionValue="_id"
                optionLabel="first_name">
            </p-dropdown>
            <!-- <small class="p-error" *ngIf="submitted && !prescription.patient">Patient is required.</small> -->
        </div>

        <p-table #dt2 [value]="arr">
            <ng-template pTemplate="header">
                <tr>
                    <th>mdicine</th>
                    <th>dose</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-med>
                <tr>
                    <td>{{med.medicine.name}}</td>
                    <td>{{med.dose}}</td>
                </tr>
            </ng-template>
        </p-table>

            <div>
                <div *ngIf="isAdd">
                        <form id="addForm" autocomplete="off" enctype="multipart/form-data" [formGroup]="addForm" novalidate>
                        
                            <div class="field">
                                <label for="med">medicine</label>
                                <p-dropdown [options]="medicines" [(ngModel)]="med" formControlName="medicine" placeholder="Select a Medicine" optionLabel="name">
                                </p-dropdown>
                                <!-- <small class="p-error" *ngIf="submitted && !med">Medicine is required.</small> -->
                            </div>
                            <div class="field">
                                <label for="dose">dose</label>
                                <input type="text" pInputText id="dose" [(ngModel)]="dose" formControlName="medDose" required autofocus />
                                <!-- <small class="p-error" *ngIf="submitted && !dose">Dose is required.</small> -->
                            </div>
                        </form>
                </div>
                <button type="submit" pButton pRipple label="Add Medicine" icon="pi pi-check" class="p-button-text" (click)="add()"></button>

            </div>

        <button  pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

    </form>
</div>


