<!--<p>add-medicine works!</p>-->

<!--<div>-->
<!--    <h2>add Medicine</h2>-->

<!--    &lt;!&ndash; <div>-->
<!--        <label for="id">ID</label>-->
<!--        <input type="text" id="id" [(ngModel)]="newMedicine._id">-->
<!--    </div> &ndash;&gt;-->
<!--    &lt;!&ndash; <br> &ndash;&gt;-->
<!--    <div>-->
<!--        <label for="name">name</label>-->
<!--        <input type="text" id="name" [(ngModel)]="newMedicine.name">-->
<!--    </div>-->
<!--    &lt;!&ndash; <br> &ndash;&gt;-->
<!--    <div>-->
<!--        <label for="discriptrion">discriptrion</label>-->
<!--        <input type="text" id="discriptrion" [(ngModel)]="newMedicine.description">-->
<!--    </div>-->
<!--    <button class="btn btn-success" (click)="save()">Save</button>-->
<!--</div>-->

