<div class="card">

  <!-- styleClass="p-datatable-gridlines" >> table with borders -->
  <p-table #dt1 [value]="doctors" dataKey="id" class="m-3" responsiveLayout="scroll"
           [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [filterDelay]="0"
           [globalFilterFields]="['speciality', '_id.firstName', '_id.lastName','_id.phoneNumber','_id.email','_id.address', '_id.gender', '_id.age']">
    <ng-template pTemplate="caption">
      <div class="text-center">
        <h3>Doctors</h3>
      </div>
      <div class="flex justify-content-between align-items-center">
        <button pButton label="Clear" class="p-button-outlined mx-2" icon="pi pi-filter-slash"
                (click)="clear(dt1)"></button>
        <span class="p-input-icon-left ml-auto mx-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal(getEventValue($event), 'contains')"
                           placeholder="Search keyword" class="w-100"/>
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="label" [style]="{'text-align':'left'}">
          <div class="flex justify-content-center align-items-left">
            Photo
          </div>
        </th>
        <th pSortableColumn="_id.firstName" class="th">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Name
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.firstName"></p-sortIcon>
              <p-columnFilter type="text" field="_id.firstName" display="menu"></p-columnFilter>
            </div>
          </div>
        </th>
        <th pSortableColumn="_id.phoneNumber" class="th">
          <div class="flex justify-content-center align-items-left">
            <diV class="label">
              Phone
            </diV>
            <div class="flex-row">
              <p-sortIcon field="_id.phoneNumber"></p-sortIcon>
              <p-columnFilter type="text" field="_id.phoneNumber" display="menu"></p-columnFilter>
            </div>
          </div>
        </th>
        <th pSortableColumn="_id.email" class="th">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Email
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.email"></p-sortIcon>
              <p-columnFilter type="text" field="_id.email" display="menu"></p-columnFilter>
            </div>
          </div>
        </th>
        <th pSortableColumn="_id.address" class="th">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Address
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.address"></p-sortIcon>
              <p-columnFilter type="text" field="_id.address" display="menu"></p-columnFilter>
            </div>
          </div>
        </th>
        <th pSortableColumn="_id.age" class="th">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Age
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.age"></p-sortIcon>
              <p-columnFilter type="numeric" field="_id.age" display="menu"></p-columnFilter>
            </div>
          </div>
        </th>
        <th pSortableColumn="_id.gender" class="th">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Gender
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.gender"></p-sortIcon>
              <p-columnFilter field="_id.gender" matchMode="equals" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="genders" (onChange)="filter($event.value)" placeholder="Any">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'doctor-badge _id.gender-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </div>
        </th>
        <th pSortableColumn="speciality" class="th">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Speciality
            </div>
            <div class="flex-row">
              <p-sortIcon field="speciality"></p-sortIcon>
              <p-columnFilter field="speciality" matchMode="equals" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="specialities" (onChange)="filter($event.value)"
                              placeholder="Any">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'doctor-badge speciality-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </div>
        </th>
        <th class="th">
          <div class="flex justify-content-center align-items-center">
            Actions
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-doctor>
      <tr class="bg-light">
        <td class="images">
          <img class="img" src="{{ '../../../assets/' + doctor._id?.profileImg }}" alt=""/>
        </td>
        <td class=" text-black">
          {{doctor._id.firstName + " " + doctor._id.lastName}}
        </td>
        <td class=" text-black">
          {{doctor._id.phoneNumber}}
        </td>
        <td class=" text-black">
          {{doctor._id.email}}
        </td>
        <td class=" text-black">
          {{doctor._id.address}}
        </td>
        <td class=" text-black">
          {{doctor._id.age}}
        </td>
        <td class=" text-black">
          <span [class]="'doctor-badge gender-' + doctor.gender">{{doctor._id.gender}}</span>
        </td>
        <td class=" text-black">
          <span [class]="'doctor-badge speciality-' + doctor.speciality">{{doctor.speciality}}</span>
        </td>
        <td class="text-center actionBut">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"
                  (click)="edit(doctor._id._id)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="delete(doctor._id._id)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9">No doctors found.</td>
      </tr>
    </ng-template>
  </p-table>

  <button pButton type="button" class="p-button-lg addBtn " (click)="add()">
    <i class="pi pi-user-plus"></i>
  </button>

</div>
