<div class="card">

  <!-- styleClass="p-datatable-gridlines" >> table with borders -->
  <p-table #dt1 [filterDelay]="0" [globalFilterFields]="['speciality', '_id.firstName', '_id.lastName','_id.phoneNumber','_id.email','_id.address', '_id.gender', '_id.age']" [loading]="loading" [paginator]="true"
           [rowsPerPageOptions]="[10,25,50]" [rows]="10" [showCurrentPageReport]="true" [value]="doctors"
           class="m-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           dataKey="id"
           responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="text-center">
        <h3>Doctors</h3>
      </div>
      <div class="flex justify-content-between align-items-center">
        <button (click)="clear(dt1)" class="p-button-outlined mx-2" icon="pi pi-filter-slash" label="Clear"
                pButton></button>
        <span class="p-input-icon-left ml-auto mx-2">
                    <i class="pi pi-search"></i>
                    <input (input)="dt1.filterGlobal(getEventValue($event), 'contains')" class="w-100" pInputText
                           placeholder="Search keyword" type="text"/>
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th [style]="{'text-align':'left'}" class="label">
          <div class="flex justify-content-center align-items-left">
            Photo
          </div>
        </th>
        <th class="th" pSortableColumn="_id.firstName">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Name
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.firstName"></p-sortIcon>
              <p-columnFilter display="menu" field="_id.firstName" type="text"></p-columnFilter>
            </div>
          </div>
        </th>
        <th class="th" pSortableColumn="_id.phoneNumber">
          <div class="flex justify-content-center align-items-left">
            <diV class="label">
              Phone
            </diV>
            <div class="flex-row">
              <p-sortIcon field="_id.phoneNumber"></p-sortIcon>
              <p-columnFilter display="menu" field="_id.phoneNumber" type="text"></p-columnFilter>
            </div>
          </div>
        </th>
        <th class="th" pSortableColumn="_id.email">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Email
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.email"></p-sortIcon>
              <p-columnFilter display="menu" field="_id.email" type="text"></p-columnFilter>
            </div>
          </div>
        </th>
        <th class="th" pSortableColumn="_id.address">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Address
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.address"></p-sortIcon>
              <p-columnFilter display="menu" field="_id.address" type="text"></p-columnFilter>
            </div>
          </div>
        </th>
        <th class="th" pSortableColumn="_id.age">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Age
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.age"></p-sortIcon>
              <p-columnFilter display="menu" field="_id.age" type="numeric"></p-columnFilter>
            </div>
          </div>
        </th>
        <th class="th" pSortableColumn="_id.gender">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Gender
            </div>
            <div class="flex-row">
              <p-sortIcon field="_id.gender"></p-sortIcon>
              <p-columnFilter display="menu" field="_id.gender" matchMode="equals">
                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                  <p-dropdown (onChange)="filter($event.value)" [ngModel]="value" [options]="genders" placeholder="Any">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'doctor-badge _id.gender-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </div>
        </th>
        <th class="th" pSortableColumn="speciality">
          <div class="flex justify-content-center align-items-left">
            <div class="label">
              Speciality
            </div>
            <div class="flex-row">
              <p-sortIcon field="speciality"></p-sortIcon>
              <p-columnFilter display="menu" field="speciality" matchMode="equals">
                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                  <p-dropdown (onChange)="filter($event.value)" [ngModel]="value" [options]="specialities"
                              placeholder="Any">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'doctor-badge speciality-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </div>
        </th>
        <th class="th">
          <div class="flex justify-content-center align-items-center">
            Actions
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template let-doctor pTemplate="body">
      <tr class="bg-light">
        <td class="images">
          <img alt="" class="img" src="{{ '../../../assets/' + doctor._id?.profileImg }}"/>
        </td>
        <td class=" text-black">
          {{doctor._id.firstName + " " + doctor._id.lastName}}
        </td>
        <td class=" text-black">
          {{doctor._id.phoneNumber}}
        </td>
        <td class=" text-black">
          {{doctor._id.email}}
        </td>
        <td class=" text-black">
          {{doctor._id.address}}
        </td>
        <td class=" text-black">
          {{doctor._id.age}}
        </td>
        <td class=" text-black">
          <span [class]="'doctor-badge gender-' + doctor.gender">{{doctor._id.gender}}</span>
        </td>
        <td class=" text-black">
          <span [class]="'doctor-badge speciality-' + doctor.speciality">{{doctor.speciality}}</span>
        </td>
        <td class="text-center actionBut">
          <button (click)="edit(doctor._id._id)" class="p-button-rounded p-button-success" icon="pi pi-pencil" pButton
                  pRipple></button>
          <button (click)="delete(doctor._id._id)" class="p-button-rounded p-button-warning" icon="pi pi-trash" pButton
                  pRipple></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9">No doctors found.</td>
      </tr>
    </ng-template>
  </p-table>

  <button (click)="add()" class="p-button-lg addBtn " pButton type="button">
    <i class="pi pi-user-plus"></i>
  </button>

</div>
