<div class=" d-flex justify-content-center align-items-center">

  <div class="card">
    <h4 class="card-header d-flex justify-content-center"><b>LOGIN</b></h4>
    <div class="card-body">
      <img
        class="profile-img-card"
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      />
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="form-group p-2">
          <label for="phone_number">Phone Number</label>
          <input [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }" class="form-control" formControlName="phone_number" name="phone_number"
                 type="text"/>
          <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
            <div *ngIf="f['phone_number'].errors['required']">Username is required</div>
          </div>
        </div>
        <div class="form-group p-2">
          <label for="password">Password</label>
          <input [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" class="form-control" formControlName="password" name="password"
                 type="password"/>
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-2">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <div class="d-flex justify-content-sm-center align-items-center">Login</div>
          </button>
        </div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
