<p>navbar works!</p>

<a routerLink="/home" routerLinkActive="ractive" class="btn btn-success m-2">Home</a>

<a routerLink="/doctors" routerLinkActive="ractive" class="btn btn-success m-2">Doctors</a>

<a routerLink="/receptionists" routerLinkActive="ractive" class="btn btn-success m-2">Receptionist</a>

<a [routerLink]="['/profile/doctor', '623efacf3ce8a37c0e92fa37']" routerLinkActive="ractive" class="btn btn-success m-2">Doctor profile</a>

<a [routerLink]="['/profile/receptionist', '623c925cd4400d567e7ae160']" routerLinkActive="ractive" class="btn btn-success m-2">Receptionist profile</a>
