<mat-toolbar *ngIf="user" class="mat-elevation-z8" color="primary">
  <span><mat-icon>eco</mat-icon> CLINIC SYSTEM</span>
  <div class="spacer"></div>
  <div *ngIf="isAdmin">
    <a mat-button routerLink="/">Dashboard</a>
    <a *ngIf="isAdmin" mat-button routerLink="admin">admin</a>
    <a *ngIf="isAdmin" mat-button routerLink="payment">Payments</a>
    <a mat-button routerLink="receptionists">Receptionists</a>
    <a mat-button routerLink="doctors">Doctors</a>
    <a mat-button routerLink="medicines">Medicines</a>
    <a mat-button routerLink="patient">Patients</a>
    <a mat-button routerLink="prescriptions">prescriptions</a>
  </div>
  <div *ngIf="!isAdmin">
    <a [routerLink]="['DoctorProfile', user._id]" mat-button>
      <mat-icon>person</mat-icon>
      Doctor Profile </a>
    <a [routerLink]="['DoctorPatient', user._id]" mat-button>
      <mat-icon>supervised_user_circle</mat-icon>
      Patients </a>
    <a [routerLink]="['prescriptions']" mat-button>
      <mat-icon>assignment</mat-icon>
      Doctor Prescriptions </a>

  </div>
  <a (click)="logout()" color="accent" mat-raised-button routerLink="signup">Logout</a>
</mat-toolbar>
