<p>detailspatient works!</p>
<!-- <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  <!-- </section> --> 
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle w-50 " src="{{ '../../../assets/'+Patient.profile_img}}" alt="User profile picture">
              </div>

              <h3 class="profile-username text-center">{{Patient.first_name}}  {{ Patient.last_name }}</h3>

              <p class="text-muted text-center">Patient</p>

             
              <button class="btn btn-danger  mx-auto w-25" (click)="edit()"><b>Edit</b></button>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> Details</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body ">
              <strong><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name</strong>

              <p class="text-muted">
                {{Patient.first_name}}  {{ Patient.last_name }}
              </p>

              <hr>

              <strong><i class="fa fa-address-book-o" aria-hidden="true"></i> Address </strong>

              <p class="text-muted ">{{Patient.address}}</p>

              <hr>

              <strong><i class="fa fa-venus-mars" aria-hidden="true"></i>Gender </strong>

              <p class="text-muted">
               {{Patient.gender}}
              </p>

              <hr>

              <strong>
                <i class="fa fa-phone" aria-hidden="true"></i> Phone Number</strong>

              <p class="text-muted"> {{Patient.phone_number}}</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-7">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#Appointment" data-toggle="tab">Appointment</a></li>
                <li class="nav-item"><a class="nav-link" href="#Medicine" data-toggle="tab">Medicine</a></li>
                <li class="nav-item"><a class="nav-link" href="#prescription" data-toggle="tab">prescription</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="Appointment">
                 
                  <ul>
                  <li *ngFor="let n of  appontments ;index  as i">
                    <p class="pre"> 
                    <strong><i class="fa fa-window-maximize" aria-hidden="true"></i> Appontment{{i+1}}</strong></p>
                    <strong><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Date </strong>
                    <p class="text-muted">{{n.time |date:'M/d/yy, h:mm a'}}</p>
                   
                    <strong><i class="fa fa-bars" aria-hidden="true"></i> complaint </strong>
                    <p class="text-muted">{{n.condition}}</p>
                    <strong><i class="fa fa-user-md" aria-hidden="true"></i>Doctor Name</strong>
                   <p class="text-muted">{{n.doctor._id.firstName}}   {{n.doctor._id.lastName}}</p>
                   <strong>  <i class="fa fa-stethoscope" aria-hidden="true"></i>Doctor Speciality</strong>
                  <p class="text-muted">{{n.doctor.speciality}}</p>
               
                  <hr>
                </li>
                </ul> 
                 

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="Medicine">
                  <!-- The Medicine -->
                 
              <p>medecine</p>
               
              <ul>
                
                <li *ngFor="let m of patientmedecines ;index as i;">
                 <p></p>
                  <ul>
                  <li *ngFor="let n of m.med" > 
                    <p class="pre"><strong> <i class="fa fa-medkit" aria-hidden="true"></i>Medicine {{i+1}} </strong></p>
                    <strong> Name</strong>
                   <p class="text-muted">{{n.medicine.name}}</p> 
                   <strong> Dose </strong>
                   <p class="text-muted">{{n.dose}}</p>
                   <strong> Description</strong>
                   <p class="text-muted">{{n.medicine.description}} </p>
                  <hr>
                  </li>
                </ul>
                <hr>
              </ul>
               
             
          </div>

                <!-- /.tab-pane -->

                <div class="tab-pane" id="prescription">
           
                  <ul>
                    <li *ngFor="let n of prescriptions ;index  as i">
                      <p class="pre"><strong> <i class="fa fa-id-card-o" aria-hidden="true"></i>prescription {{i+1}} </strong></p>
                      <strong><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Date </strong>
                      <p class="text-muted">{{n.date |date:'M/d/yy, h:mm a'}}</p>
                      <strong><i class="fa fa-user-md" aria-hidden="true"></i>Doctor Name</strong>
                      <p class="text-muted">{{n.doctor._id.firstName}}   {{n.doctor._id.lastName}}</p>
                      <strong>  <i class="fa fa-stethoscope" aria-hidden="true"></i>Doctor Speciality</strong>
                      <p class="text-muted">{{n.doctor.speciality}}</p>
                  
                   
                    <ul>
                      <li *ngFor="let m of n.medicines ;index  as i">
                        <p ><strong> <i class="fa fa-medkit" aria-hidden="true"></i>Medicine {{i+1}} </strong></p>
                         <strong> Name</strong>
                        <p class="text-muted">{{m.medicine.name}}</p> 
                        <strong> Dose </strong>
                        <p class="text-muted">{{m.dose}}</p>
                       
                        <hr>
                      </li>
                      
                    </ul>
                  </li>
                  </ul>
                   


                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
